extends layout
block content
   section.banner.cf
      .wrapper
        // <p class="aboutlogo"></p>
        h1
          | About 
          br
          |             Us. 
          br
    section.work
      .wrapper
        .row
          .card.card_full.card_1
            .card_inner.blue
              p LA CASA
              h2 Meticuliously crafted high assets for luxury
              p
                | The characteristics that distinguish a work of architecture from other built structures are the suitability of the work to use by human beings in general and the adaptability of it to particular human activities, the stability and permanence of the work’s construction, and the communication of experience and ideas through its form.
              .lineabout
