extends layout
block content
    section#portfolio.bg-light
    .container
        .headingp
        .col-lg-12.text-center
            h1.section-heading.text-uppercase Details
            .underline
        .row
        .col-md-4.col-sm-6
            .portfolio-item
            .porthover
                a.portfolio-link(data-toggle='modal', href='#portfolioModal2')
                img.img-fluid(src='img/about1.jpg', alt='')
            .portfolio-caption
            h4 Threads
            p.text-muted Illustration
        .col-md-4.col-sm-6.portfolio-item
            a.portfolio-link(data-toggle='modal', href='#portfolioModal2')
            //
                <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                <i class="fa fa-plus fa-3x"></i>
                </div>
                </div>
            img.img-fluid(src='img/cardp.jpg', alt='')
            .portfolio-caption
            h4 Explore
            p.text-muted Graphic Design
        .col-md-4.col-sm-6.portfolio-item
            a.portfolio-link(data-toggle='modal', href='#portfolioModal3')
            //
                <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                <i class="fa fa-plus fa-3x"></i>
                </div>
                </div>
            img.img-fluid(src='img/d1.jpg', alt='')
            .portfolio-caption
            h4 Finish
            p.text-muted Identity
        .col-md-4.col-sm-6.portfolio-item
            a.portfolio-link(data-toggle='modal', href='#portfolioModal4')
            //
                <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                <i class="fa fa-plus fa-3x"></i>
                </div>
                </div>
            img.img-fluid(src='img/d2.jpg', alt='')
            .portfolio-caption
            h4 Lines
            p.text-muted Branding
        .col-md-4.col-sm-6.portfolio-item
            a.portfolio-link(data-toggle='modal', href='#portfolioModal5')
            //
                <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                <i class="fa fa-plus fa-3x"></i>
                </div>
                </div>
            img.img-fluid(src='img/d3.jpg', alt='')
            .portfolio-caption
            h4 Southwest
            p.text-muted Website Design
        .col-md-4.col-sm-6.portfolio-item
            a.portfolio-link(data-toggle='modal', href='#portfolioModal6')
            //
                <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                <i class="fa fa-plus fa-3x"></i>
                </div>
                </div>
            img.img-fluid(src='img/p2.jpg', alt='')
            .portfolio-caption
            h4 Window
            p.text-muted Photography
        .col-md-4.col-sm-6.portfolio-item
            a.portfolio-link(data-toggle='modal', href='#portfolioModal6')
            //
                <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                <i class="fa fa-plus fa-3x"></i>
                </div>
                </div>
            img.img-fluid(src='img/p4.jpg', alt='')
            .portfolio-caption
            h4 Art
            p.text-muted Minimal
        .col-md-4.col-sm-6.portfolio-item
            a.portfolio-link(data-toggle='modal', href='#portfolioModal6')
            //
                <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                <i class="fa fa-plus fa-3x"></i>
                </div>
                </div>
            img.img-fluid(src='img/p5.jpg', alt='')
            .portfolio-caption
            h4 Creative
            p.text-muted Carftsmen
        .col-md-4.col-sm-6.portfolio-item
            a.portfolio-link(data-toggle='modal', href='#portfolioModal6')
            //
                <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                <i class="fa fa-plus fa-3x"></i>
                </div>
                </div>
            img.img-fluid(src='img/p9.jpg', alt='')
            
            
    .pspace
