extends layout
block content
    section#home.banner-area.relative
      .overlay.overlay-bg
      .container
        .row.fullscreen.align-items-center.justify-content-start(style='height: 830px;')
          // ======bannerheight=============================
          .banner-content.col-lg-9.col-md-12
            h1
              | Premium firm for
              br
              |  interior design
            p
              | We aim at providing best makeover to your bricks and blocks.
            a.primary-btn(href='/details')
              | See Details
              span.fas.fa-arrow-right
    .landing
      .landingWrapper
        .landingR
          img(src='../img/lsink.jpg', alt='rightimg', width='300px')
        .landingL
          h1
              | Beautiful homes
          p
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem architecto fuga, expedita assumenda eligendi obcaecati sapiente nesciunt doloribus saepe asperiores. Deleniti temporibus nostrum, repellat velit reprehenderit atque, labore voluptatibus lorem Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam repellat fugiat voluptate error molestiae adipisci labore rem assumenda non Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt consequuntur error nesciunt illum, fugit corporis minus distinctio soluta ipsam praesentium, eaque cum animi cumque possimus cupiditate incidunt debitis. Repudiandae optio deserunt eligendi neque quisquam voluptas perspiciatis quae delectus sint itaque? accusantium.
    .landing
      .landingWrapper
        .landingL
          h1 Beautiful Homes
          p.lpara
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem architecto fuga, expedita assumenda eligendi obcaecati sapiente nesciunt doloribus saepe asperiores. Deleniti temporibus nostrum, repellat velit reprehenderit atque, labore voluptatibus lorem Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam repellat fugiat voluptate error molestiae adipisci labore rem assumenda non Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt consequuntur error nesciunt illum, fugit corporis minus distinctio soluta ipsam praesentium, eaque cum animi cumque possimus cupiditate incidunt debitis. Repudiandae optio deserunt eligendi neque quisquam voluptas perspiciatis quae delectus sint itaque? accusantium.
        .landingR
          img(src='img/landhustle.jpg', alt='rightimg', width='300px')

    // endIntroArea
    