extends layout
block content
    section#portfolio.bg-light
      .container
        .row
          .col-lg-12.text-center
            h2.section-heading.text-uppercase Portfolio
            .underline
            h3.section-subheading.text-muted Lorem ipsum dolor sit amet consectetur.
        .row
          .col-md-4.col-sm-6
            .portfolio-item
              a.portfolio-link(data-toggle='modal', href='#portfolioModal1')        
                img.img-fluid(src='img/p1.jpg', alt='')
            .portfolio-caption
              h4 Threads
              p.text-muted Illustration
          .col-md-4.col-sm-6.portfolio-item
            a.portfolio-link(data-toggle='modal', href='#portfolioModal2')
              img.img-fluid(src='img/p2.jpg', alt='')
            .portfolio-caption
              h4 Explore
              p.text-muted Graphic Design
          .col-md-4.col-sm-6.portfolio-item
            a.portfolio-link(data-toggle='modal', href='#portfolioModal3')
              img.img-fluid(src='img/p3.jpg', alt='')
            .portfolio-caption
              h4 Finish
              p.text-muted Identity
          .col-md-4.col-sm-6.portfolio-item
            a.portfolio-link(data-toggle='modal', href='#portfolioModal4')
              img.img-fluid(src='img/p4.jpg', alt='')
            .portfolio-caption
              h4 Lines
              p.text-muted Branding
          .col-md-4.col-sm-6.portfolio-item
            a.portfolio-link(data-toggle='modal', href='#portfolioModal5')
              img.img-fluid(src='img/p5.jpg', alt='')
            .portfolio-caption
              h4 Southwest
              p.text-muted Website Design
          .col-md-4.col-sm-6.portfolio-item
            a.portfolio-link(data-toggle='modal', href='#portfolioModal6')
              img.img-fluid(src='img/p6.jpg', alt='')
            .portfolio-caption
              h4 Window
              p.text-muted Photography
          .col-md-4.col-sm-6.portfolio-item
            a.portfolio-link(data-toggle='modal', href='#portfolioModal6')
              img.img-fluid(src='img/p7.jpg', alt='')
            .portfolio-caption
              h4 Art
              p.text-muted Minimal
          .col-md-4.col-sm-6.portfolio-item
            a.portfolio-link(data-toggle='modal', href='#portfolioModal6')
              img.img-fluid(src='img/p8.jpg', alt='')
            .portfolio-caption
              h4 Creative
              p.text-muted Craftsmen
          .col-md-4.col-sm-6.portfolio-item
            a.portfolio-link(data-toggle='modal', href='#portfolioModal6')
              img.img-fluid(src='img/p9.jpg', alt='')
            .portfolio-caption
              h4 Ethnic
              p.text-muted Architecture
